<footer class="pie-pagina">
  <div class="grupo-1">
      <div class="box">
          <figure>
              <a href="#">
                <img src="assets/imgs/LogoMexi.png" >
              </a>
          </figure>
      </div>
      <div class="box">
          <h2>Portal Empleos</h2>
          <p>Conectando a todos con una mejor calidad de vida</p>
          <p></p>
      </div>
      <div class="box">
          <h2>Contactanos</h2>
          <div class="red-social">
              <!-- <a href="#" class="mat-icon-rtl-mirror" svgIcon="thumb-up"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a> -->
          </div>
      </div>
  </div>
  <div class="grupo-2">
      <small>&copy; 2022 <b>Portal Empleos</b> - Todos los Derechos Reservados.</small>
  </div>
</footer>