<mat-card>
    <form [formGroup]="form">
        <mat-card-title>
            Recuperacion de contraseña por pregunta secreta
        </mat-card-title>
        <mat-dialog-content>
            <mat-form-field appearance="outline" class="complete">
                <mat-label>Correo</mat-label>
                <input matInput type="text" autocomplete="off" placeholder="Ejemplo@ejemplo.com" formControlName="varEmail">
                <mat-error>Obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="complete" >
                <mat-label>Pregunta</mat-label>
                <mat-select formControlName="intIdPregunta"  (selectionChange)="onChange($event.value)">
                <mat-option *ngFor="let cu of cuestions" [value]="cu.id">
                    {{cu.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="complete">
                <mat-label>Respuesta</mat-label>
                <input matInput type="text" autocomplete="off" placeholder="Respuesta" formControlName="varRespuesta" maxlength="50">
                <mat-error>Obligatorio</mat-error>
            </mat-form-field>
            
            <div class="controls-right">
                <button mat-flat-button color="primary" (click)="Recuperar()">
                    <mat-icon>save</mat-icon> Solicitar Cambio de contraseña
                </button>                
                <button mat-flat-button color="primary" (click)="cancelar()">
                    <mat-icon>cancel</mat-icon> Cancelar
                </button>              
            </div>
        </mat-dialog-content>
    </form>
</mat-card>