<mat-toolbar color="primary">
    <div class="burger-show">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">
            <img class="img" src="assets/imgs/LogoMexi.png" >
        </a>
        
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <button mat-button class="button_hide" routerLink='/empresas'>Empleos</button>
        <button mat-button class="button_hide" routerLink='/personas'>Trabajadores</button>
        <button mat-button class="button_hide" routerLink='/nosotros'>Acerca de</button>
        <button mat-button class="button_hide" routerLink='/help'>Ayuda</button>
    </div>
    <span class="example-spacer"></span>
    <button mat-button class="button_hide" routerLink='/menuregistro' *ngIf="!logged">Registrarse</button>
    <button mat-button class="button_hide" routerLink='/login' *ngIf="!logged">Login</button>
    <button mat-button class="button_hide" *ngIf="logged" [matMenuTriggerFor]="appMenu" matTooltip="Opciones">  {{user.name}}</button>

    <!-- <button  mat-icon-button color="primary" aria-label="Example icon button with a home icon" [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu" style="size: auto"> 
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Modo Oscuro</mat-checkbox>            
          </section>
    </mat-menu> -->
</mat-toolbar>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink='/perfil'><mat-icon>account_circle</mat-icon> Mi Perfil</button>
    <button mat-menu-item routerLink='/suscripcion'><mat-icon>payment</mat-icon> Suscripcion</button>
    <button mat-menu-item href="javascript:void(0)" (click)="cerrarSesion()"><mat-icon>power_settings_new</mat-icon> Cerrar Sesión</button>
  </mat-menu>