<mat-card>
    <form [formGroup]="form">
        <mat-card-title>Recuperar Constraseña</mat-card-title>
        <mat-card-content>
            <div class="box">
                <div class="item-box-img">
                    <img class="img" src="assets/imgs/RecContraseña.png" height="250px" width="250px"
                        alt="Photo of a Shiba Inu">
                </div>
                <div class="item-box recuperar">
                    <!-- <mat-form-field appearance="outline" class="input-md">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre" formControlName="username" required autocomplete="Off">
                    </mat-form-field> -->
                    <!-- <mat-form-field appearance="outline" class="input-md">
                        <mat-label>Apellidos</mat-label>
                        <input matInput placeholder="Apellidos" formControlName="nombre" autocomplete="Off">
                    </mat-form-field> -->
                    <mat-form-field appearance="outline" class="input-xs">
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput placeholder="Ejemplo@ejemplo.com" formControlName="email" required
                            autocomplete="Off">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-xs">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput placeholder="Contraseña" formControlName="password" required
                            autocomplete="Off">
                        <mat-error *ngIf="form.get('password')?.hasError('required')">Debe ingresar la
                            contraseña</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-xs">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input type="password" matInput placeholder="Confirmar contraseña"
                            formControlName="confirmpassword" required autocomplete="Off">
                    </mat-form-field>

                    <div class="example-spacer">
                        <button mat-raised-button color="primary" (click)="change()" [disabled]="!form.valid">Recuperar</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
</mat-card>