<mat-card >
    <mat-card-title>Política de privacidad</mat-card-title>
    <mat-card-subtitle>Portal de Empleos</mat-card-subtitle>
    <mat-card-content>
    
      <p></p>
    </mat-card-content>
    <mat-card-content>
      
      <h1></h1>
      <p>El portal para empleos con domicilio en la Universidad Tecnológica de la Huasteca Hidalguense, Huejutla de reyes Hidalgo C.P. 43000, 
        conforme a lo establecido en la Ley Federal de Protección de Datos Personales 
        en Posesión de los Particulares, pone a disposición de nuestros usuarios, colaboradores y público general, nuestra política de privacidad</p>
    </mat-card-content>
    <mat-card-content>
        <h1></h1>
        <p>Los datos personales que nos proporcionan son utilizados estrictamente en la realización de funciones propias de la empresa y por ningún 
            motivo serán transferidos a terceros ajenos a nuestra organización.
      </mat-card-content>
    <mat-card-content>
        <h1></h1>
        <h2>A nuestros usuarios les solicitamos los siguientes datos personales:
        </h2>
    </mat-card-content>
    <mat-card-content>
        <p>I.	Nombre, fecha de nacimiento, calle, código postal, referencias, teléfono, correo, números de referencia, comprobante de domicilio, 
            clave única de registro de población (CURP) y en caso de disponer RFC, para facilitar el uso de nuestro servicio</p>
        <p>II.	Datos completos y claros referente a vacantes, habilidades y conocimientos de trabajo, para evitar confusión entre los distintos 
            perfiles de usuario disponibles en el portal</p>
        <p>III.	En caso de ser alguna organización o empresa, Nombre de la organización, razón social, nombre del contacto inmediato de la misma, 
            numero de contacto, calle, código postal, referencias, comprobante de domicilio, RFC, numero de contacto y fecha de fundación, para garantizar 
            la eficacia del servicio y evitar posibles problemas con respecto a quejas de parte de los usuarios desempleados, con el fin de facilitar el uso de nuestro servicio.</p>
        <br>
            <h2>A nuestros colaboradores solicitamos los siguientes datos personales</h2>
        <br>
            
        <p>I.	Nombre, teléfono, comprobante de domicilio, para facilitar el proceso de capacitación para el uso o administración del portal.</p>    
        <p>II.	Antecedentes laborales, puesto, sueldo y motivo de terminación laboral en los últimos trabajos.</p>  
        <br>
        <p>En caso de realizar modificaciones al formato de políticas de privacidad, le informaremos mediante correo electrónico, nuestro sitio web oficial o nuestros operadores telefónicos.</p>
        <br>

        <p>Al continuar con los siguientes procesos usted acepta las condiciones y estipulaciones de nuestras políticas de privacidad</p>
        <h2>Actualmente no hacemos uso de cookies como tal salvo para guardar los datos de sesión, sin embargo, se espera que en un futuro cercano se pueda hacer uso de ella por tanto se tiene
             preparado el siguiente formato de política cookies, con las cookies que se planea utilizar.</h2>
    </mat-card-content>
    <button mat-button-primary (click)="goBack()">Volver</button>
</mat-card>














 

