<mat-card>
    <mat-card-title>Preguntas frecuentes</mat-card-title>
    <mat-card-subtitle>Portal de Empleos</mat-card-subtitle>
    <mat-card-content>
    
      <p></p>
    </mat-card-content>
    <mat-card-content>
      <h2>¿Qué hago si he olvidado mi contraseña?</h2>
      <h1></h1>
      <p>Si usted ha perdido su contraseña <a routerLink="/recuperar">¡¡Click aqui!!</a> y deberá de ingresar el correo con el cual se registró, a ese correo se le enviará instrucciones para recuperar su
        cuenta y que usted ingrese una nueva contraseña.</p>
    </mat-card-content>
    <mat-card-content>
        <h2>¿Qué debo hacer si deseo una asesoría personalizada?</h2>
        <h1></h1>
        <p>Muy bien, solo necesita contactarse con nosotros en alguno de los siguientes medios:
        <br> Email: uthh.portalempleos@gmail.com
        <br>O al  
        <br>Teléfono: 7711805996 o 7711880716 </p>

      </mat-card-content>
    <mat-card-content>
        <h2>¿Qué puede hacer alguien que se registra como trabajador?</h2>
        <h1></h1>
        <p>Un trabajador podrá consultar vacantes o solicitudes de servicios 
        que distintas personas o empresas anuncien, así como postularse a su opción predilecta.
        </p>
    </mat-card-content>
    <mat-card-content>
        <h2>¿Cómo puedo editar mi perfil?</h2>
        <h1></h1>
        <p>Es tan fácil como iniciar Sesión, <a routerLink="/login">¡¡Click aqui!!</a>
             y ubicarse en la opción principal que es Mi perfil, ahí encontrará su perfil 
             el cual podrá editar sin problema.
        </p>
    </mat-card-content>
</mat-card>