<mat-card>
    <mat-card-title>Mexi-Trabajo</mat-card-title>
    <mat-card-subtitle>Seleccione el perfil de su interes</mat-card-subtitle>
    <mat-card-content >
        <div class="box">
            <div class="item-box">
                <mat-card-subtitle class="mat-card-c">Empleador</mat-card-subtitle>
                <a routerLink="/registroempresa">
                    <img class="img" src="assets/imgs/Empleador.png"  alt="Photo of a Shiba Inu">
                </a>
            </div>
            <div class="item-box">
                <mat-card-subtitle class="mat-card-c">Trabajador</mat-card-subtitle>
                <a routerLink="/registro">
                    <img  class="img" src="assets/imgs/Empleado.png" alt="Photo of a Shiba Inu" >
                </a>
            </div>
        </div>
    </mat-card-content>
    <mat-card-subtitle class="mat-card-c">Tiene cuenta<a routerLink="/login"> Iniciar Sesión</a></mat-card-subtitle>
</mat-card>