<mat-card>
    <mat-card-title>Mexi-Trabajo</mat-card-title>
    <mat-card-content>
        
        <div style="height: 100%;">
            <!-- <div style="width:48%; height:auto; float:left; display:inline;">
                <carousel></carousel>
            </div>  -->
            <div style="width:100%; height:auto; float:left; display:inline">
                <mat-card-title class="mat-card-c">¿Qué esta buscando?</mat-card-title>
            </div>
            <div style="width:100%; height:auto; float:left; display:inline">
                <div class="left">
                    <a routerLink="/personas">
                        <img class="imgs" src="assets/imgs/Trabajador1.png" >
                    </a>
                    <p>Trabajador</p>
                </div>
                <div class="rigth">
                    <a routerLink="/empresas">
                        <img class="imgs" src="assets/imgs/trabajo1.png" >
                    </a>
                    <p>Trabajo</p>
                </div>
            </div>

            <div style="width:100%; height:auto; float:left; display:inline">
                
                <mat-card-title class="mat-card-c">¿Desea Anunciar?</mat-card-title>
            </div>
            <div style="width:100%; height:auto; float:left; display:inline">

                <div class="left">
                    <a routerLink="/">
                        <img class="imgs" src="assets/imgs/Vacante.png" >
                    </a>
                    <p>Vacante / Solicitud Empleo</p>
                </div>
                <div class="rigth">
                    <a routerLink="/">
                        <img class="imgs" src="assets/imgs/Servicios.png" >
                    </a>
                    <p>Ofrecer Servicios</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

